{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <form action="" method="POST">
                {{ form.csrf_token }}
                <h1 class="h3 mb-3 fw-normal text-center">Create new ad</h1>

                <div class="form-floating mb-3">
                    <input type="text" name="title" class="form-control" id="title" placeholder="title">
                    <label for="title">Title</label>
                </div>

                <div class="form-floating mb-3">
                    <select style="width:100%;" size="7" id="category" name="category">
                        {% for category in form.category.choices %}
                            <option value="{{ category.name }}">{{ category.value }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description: </label>
                <div class="form-floating mb-3">
                    <textarea style="white-space: normal" class="form-control rounded-0" name="description" id="description" placeholder="description" rows="10"></textarea>
                </div>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Edit</button>
            </form>
        </div>
    </div>

{% endblock %}