{% extends "layout.html" %}

{% block content %}

    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <form action="" method="POST">
            <p>{{ ad.title }}</p>
            {% for message in messages %}
                <p>{{ message.subject }} ({{ message.sender.username }})</p>
            {% endfor %}
            <div class="form-floating mb-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="subject">
            <label for="subject">Subject</label>
            </div>
            <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}