{% extends "layout.html" %}

{% block content %}
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            {% for message in m %}
                ad: {{ message.ad.title }}<br>
                message.subject: {{ message.subject }}<br>
                message.created_at: {{ message.created_at }}<br>
                message.sender.username: {{ message.sender.username }}<br>
                message.recipient.username: {{ message.recipient.username }}<br>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}