{% extends "layout.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form style="display: flex; width:25%"  class="form-inline my-2 my-lg-0">
        <input style="width: 100%" class="form-control mr-sm-2" type="search" placeholder="Search ad" aria-label="Search" name="search" value="{{ request.args.get('search', '') }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

    <form class="form-inline my-2 my-lg-0">
        {% for category in categoryes %}
            <input type="checkbox" id="category" name="category" value="{{ category.name }}">{{ category.value }}
        {% endfor %}
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </form>

    {% for ad in pages.items %}
        <a href="{{ url_for('ad.show_ad', ad_id=ad.id) }}">{{ ad.title }}</a>
        <p>{{ ad.category.value }}</p>
        <p>{{ ad.description }}</p>
        {% for photo in ad.ad_photos %}
            <img src="{{ url_for('static', filename = photo.link) }}" alt="" width=20% height=20%>
        {% endfor %}
        <hr>
    {% endfor %}
<nav>
  <ul class="pagination">
      <li {% if pages.has_prev %}>
          <a class="page-link" href="./?page={{ pages.prev_num }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
          </a>
          {% else %}
          <a class="page-link" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
          </a>
          {% endif %}
      </li>

        {% for page in pages.iter_pages() %}
            <li {% if page == pages.page %} class="active" {% endif %}>
                <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        <li {% if pages.has_next %}>
          <a class="page-link" href="./?page={{ pages.next_num }}" aria-label="Next">
              <span class="sr-only">Next</span>
              <span aria-hidden="true">&raquo;</span>
          </a>

          {% else %}
          <a class="page-link" href="" aria-label="Next">
              <span class="sr-only">Next</span>
              <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
  </ul>
</nav>
</body>
</html>
{% endblock %}